@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
}
body{
    min-height: 100vh;
    background: url(/FLEXBOX/image\ 5.svg);
}
.header-section{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1.5px solid #65B583;
    padding: 1rem 0;
    height: 10vh;
}
.logo{
    font-size: 0.6rem;
    color: #65B583;
    font-weight: 500;
}
#logo-text{
    color: #767676;
}
.nav-list{
    list-style: none;
    display: flex;
    justify-content: space-between;
    color: #767676;
    font-size: 0.8rem;
    font-weight: 600;
}
ul li{
    padding-inline: 0.8rem;
}
#nav-1{
    color: #2F2F2F;
}
.download-btn{
    background: none;
    display: block;
    font-size: 0.8rem;
    color: #65B583;
    padding: 0.5rem 0.7rem;
    font-weight: 700;
    border: 1px solid #65B583;
    border-left: 7px solid #65B583;
    cursor: pointer;
}
.content{
    padding-top: 2px;
}
.hero-section{
    margin-top: 1.5rem;
    text-align: center;
}
.headlines{
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 0.6rem;
}
.banner-image{
    margin: 0 auto;
    display: block;
    width: 1300px;
    height: 520px;
}
.head-caption{
    color: #8C8D8C;
    font-weight: 600;
    font-size: 0.7rem;
    margin-bottom: 2rem;
}
.footer-section{
    margin-top: 6.2rem;
    text-align: center;
    margin-bottom: 3rem;
}
.footer-lines{
    font-weight: 800;
    font-size: 1.8rem;
    color: #2B2F2D;
    margin-bottom: 0.4rem;
}
.foot-caption{
    color: #8C8D8C;
    font-size: 0.65rem;
    font-weight: 500;
}
.facility{
    display: flex;
    justify-content: space-evenly;
    margin-top: 4rem;
}
.service{
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    border: 2px solid #65B583;
    border-left: 7px solid #65B583;
    width: 22%;
    padding: 1.3rem 0px;
}
.icon{
    width: 60px;
    display: block;
    margin: 0 auto;
}
.info{
    font-weight: 700;
    font-size: 1rem;
}
.details{
    margin: 0 auto;
    width: 80%;
    text-align: center;
    font-weight: 500;
    font-size: 0.8rem;
    color: #8C8D8C;
}